
label {
    font-size: 1.5rem;
}

select {
    border: none;
    background-color: rgb(247, 209, 208);
    color: rgb(191, 15, 15);
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    font-weight: 600;
}

button {
    border: none;
    background-color: rgb(240, 234, 234);
    color: rgb(49, 47, 47);
    width: 30%;
    padding: 2rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 5px 5px 15px rgb(174, 174, 174);
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(30, 30, 30);
}