
.main_quiz {
    height: 100vh;
    width: 100vw;
    


    .hero {
        width: 100vw;
        padding: 0 25rem;
    }

    h1 {
        font-size: 5rem;
        font-weight: 500;
        margin-bottom: 2rem;
        width: 50%;
    }

    h2 {
       font-size: 3rem; 
    }
    button {
        width: 30%;
        padding: 1.5rem 1rem;
    }

    p {
        font-size: 1.5rem;
        margin-top: 2rem;
    }
}
