.df {
    display: flex;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.fdc {
    flex-direction: column;
}

.marg1 {
    margin-top: 2rem;
}

.jcsb {
    justify-content: space-between;
}
